<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>arduino-- size tracking</title>
    <style type="text/css">
      body {
          font-family: sans-serif;
          font-size: 16px;
          margin: 50px;
          max-width: 800px;
      }
      select#compiler_version {
          float: right;
      }
    </style>
    <script language="javascript" type="text/javascript" 
            src="flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" 
            src="flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" 
            src="humane.js"></script>
    <script type="text/javascript">

var git_sizes = %(git_sizes)s
var recent_sizes = %(recent_sizes)s
var compiler_version = "%(compiler_version)s"
var remote_url = "%(remote_url)s"
var plot_id = 0
var bin_to_id = {}
var compiler_versions = compute_compiler_versions()
var version_commit_count = {}

var partition_size = 1024

function keys(d) {
    var kl = []
    for (k in d) {
        if (d.hasOwnProperty(k)) {
            kl.push(k)
        }
    }

    return kl
}

function generate_id(fnlist) {
    plot_id = plot_id + 1
    for (var i = 0; i < fnlist.length; i++) {
        bin_to_id[fnlist[i]] = plot_id
    }

    return plot_id
}

/** collect all compiler versions
*/
function compute_compiler_versions() {
    var versions = {}
    var vlist = []
    for (var i = 0; i < git_sizes.length; i++) {
        for (var v in git_sizes[i]) {
            if (v != 'git') {
                // put the current compiler version at the front of the list,
                // but only if it appears in the sizes at all.
                if (v == compiler_version && vlist.length == 0) {
                    vlist.push(v)
                }
                versions[v] = null
            }
        }
    }
    for (var v in recent_sizes) {
        if (v != 'counter') {
            // put the current compiler version at the front of the list,
            // but only if it appears in the sizes at all.
            if (v == compiler_version && vlist.length == 0) {
                vlist.push(v)
            }
            versions[v] = null
        }
    }

    for (var v in versions) {
        if (v != compiler_version) {
            vlist.push(v)
        }
    }

    return vlist
}

// collect all binfiles as an object
function binfiles() {
    var bf = {}
    for (var i = 0; i < git_sizes.length; i++) {
        for (var v in git_sizes[i]) {
            if (v != 'git') {
                for (var b in git_sizes[i][v]) {
                    bf[b] = null
                }
            }
        }
    }
    for (var v in recent_sizes) {
        if (v != 'counter') {
            for (var b in recent_sizes[v]) {
                bf[b] = null
            }
        }
    }

    return keys(bf)
}

function max_commits(version) {

    // cache number of commits by version
    var count = version_commit_count[version]
    if (count !== undefined) 
        return count

    count = 0
    for (var i = 0; i < git_sizes.length; i++) {
        if (git_sizes[i][version] !== undefined) {
            count++
        }
    }

    version_commit_count[version] = count
    return count
}

function git_plot_data(fn, version, offset) {
    var data = { 'data': [], 'meta': [], 'label': fn,
                 'min': Infinity, 'max': 0, 'acc': null,
                 'version': version }

    version = version || compiler_version

    var index = offset || 0

    for (var i = 0; i < git_sizes.length; i++) {
        var gi = git_sizes[i][version]
        if (gi !== undefined) { 

            var sz = gi[fn]
            if (sz !== undefined) {

                data.data.push([index, sz])
                data.meta.push(git_sizes[i].git)
                data.min = Math.min(data.min, sz)
                data.max = Math.max(data.max, sz)
                data.acc = data.acc + sz
            }
        }
        index = index + 1
    }

    if (data.data.length == 0)
        return undefined

    return data
}

function recent_plot_data(fn, version, offset) {
    var data = { 'data': [], 'meta': [], 'label': fn,
                  'min': Infinity, 'max': 0, 'acc': null }

    version = version || compiler_version
    if (recent_sizes[version] === undefined) {
        return undefined
    }

    var bdata = recent_sizes[version][fn]
    if (bdata === undefined) {
        return undefined
    }

    var index = offset || 0

    for (var i = 0; i < bdata.length; i++) {
        var sz = bdata[i].size
        data.data.push([index + bdata[i].index, sz])
        data.min = Math.min(data.min, sz)
        data.max = Math.max(data.max, sz)
        data.acc = data.acc + sz
        data.meta.push({'mtime': bdata[i].mtime})
    }

    if (sz === undefined)
        return undefined

    return data
}

function merge(d0, d1) {

    if (!d0)
        return d1

    if (!d1)
        return d0    

    if (d0.label != d1.label)
        return undefined

    return { 'data': d0.data.concat(d1.data), 
             'meta': d0.meta.concat(d1.meta), 'label': d0.label,
             'min': Math.min(d0.min, d1.min),
             'max': Math.max(d0.max, d1.max), 
             'acc': d0.acc + d1.acc }
    
}

function all_plot_data(fn, version) {
    version = version || compiler_version

    return merge(git_plot_data(fn, version), 
                  recent_plot_data(fn, version, max_commits(version)))
}

/** Generate the html for the plot(s)
 */
function plot_html(title, fnlist, id) {
    id = id || generate_id(fnlist)
    s = '<div id="' + id + '"><h3>' + title + '</h3>\n'
    
    for (var i = 0; i < fnlist.length; i++) {
        s = s + '<a name="' + fnlist[i] + '"></a>\n'
    }

    if (fnlist.length > 0 && fnlist[0] != title) {
        var names = fnlist[0]
        // starts at 1
        for (var i = 1; i < fnlist.length; i++) {
            names = names + ', ' + fnlist[i]
        }

        s = s + '<p>' + names + '</p>'
    }

    s = s + '<div id="' + id + '_plot" style="width:800px;height:300px">' +
        '</div>\n' +
        '<p><span id="' + id + '_clickdata"></span></p>\n' +
        '</div>\n'

    return s
}

function plot(id, data) {

    var pl = $.plot($("#" + id + '_plot'),
                    data,
                    {
                        series: {
                            lines: { show: true },
                            points: { show: true }
                        },
                        xaxis: { min: 0 },
                        grid: { hoverable: true, clickable: true },
                    })

    $("#" + id).bind("plothover", plothover);
    $("#" + id).bind("plotclick", curryclick(id, pl));

    return pl
}

function kb(s) {
    return (s / 1024) + 'kb'
}

/** Draw all plots, grouped by sizes
 *
 * @param fnlist List of binfiles to display
 * @param version Compiler version (default is the installed compiler)
 */
function draw_plots_grouped(fnlist, version) {
    version = version || compiler_version
    fnlist = fnlist || binfiles()

    var all_data = {}
    var max = 0
    var min = Infinity;

    // Get all the data 
    for (var i = 0; i < fnlist.length; i++) {
        var data = all_plot_data(fnlist[i], version)
        if (data) {
            min = Math.min(data.min, min)
            max = Math.max(data.max, max)
            data.color = i
            all_data[fnlist[i]] = data
        }
    }

    var lower = Math.floor(min/partition_size) * partition_size
    var upper = Math.ceil(max/partition_size) * partition_size

    var buckets = {}
    var buckets_fn = {}

    for (var bf in all_data) {
        var data = all_data[bf]
        var bucket = Math.ceil(data.max / partition_size) * partition_size

        if (!buckets.hasOwnProperty(bucket)) {
            buckets[bucket] = []
            buckets_fn[bucket] = []
        }
        buckets[bucket].push(data)
        buckets_fn[bucket].push(bf)
    }

    for (var i = lower; i <= upper; i = i + partition_size) {
        if (buckets.hasOwnProperty(i)) {
            var title = kb(i)
            var id = generate_id(buckets_fn[i])
            $('#plots').append(plot_html(title, buckets_fn[i], id))

            plot(id, buckets[i])
        }
    }
}

/** Draw a single plot for each binfile for all compiler versions
 *
 * @param fnlist List of binfiles to display
 */
function draw_plots_single_all_compilers(fnlist) {

    function cmp_mean(a, b) {
        if (a.mean == b.mean) {
            return 0
        }
        return a.mean < b.mean ? -1 : 1
    }

    fnlist = fnlist || binfiles()
    var data = []

    for (var i = 0; i < fnlist.length; i++) {
        var combined = []
        var binfile = fnlist[i]
        var mean = 0
        // Get all the data
        for (var v = 0; v < compiler_versions.length; v++) {
            var version = compiler_versions[v]
            var pd = all_plot_data(binfile, version)
            if (pd) {
                mean = mean + pd.acc / pd.data.length
                pd.color = v
                pd.label = binfile + ' ' + version
                combined.push(pd)
            }
        }
        if (combined.length) {
            data.push({ 'mean': mean / combined.length,
                        'binfile': binfile,
                        'data': combined})
        }
    }

    data.sort(cmp_mean)

    for (var i = 0; i < data.length; i++) {
        var combined = data[i].data
        var binfile = data[i].binfile
        if (combined.length > 0) {
            var id = generate_id([binfile])
            $('#plots').append(plot_html(binfile, [binfile], id))
            plot(id, combined)
        }
    }
}


/** Draw a single plot for each binfile
 *
 * @param version Compiler version (default is the installed compiler)
 * @param fnlist List of binfiles to display
 */
function draw_plots_single(fnlist, version) {

    function cmp_mean(a, b) {

        var ma = a.acc / a.data.length
        var mb = b.acc / b.data.length

        if (ma == mb) {
            return 0
        }
        return ma < mb ? -1 : 1
    }

    version = version || compiler_version
    fnlist = fnlist || binfiles()

    var data = []
    for (var i = 0; i < fnlist.length; i++) {
        data.push(all_plot_data(fnlist[i], version))
    }

    data.sort(cmp_mean)

    for (var i = 0; i < data.length; i++) {
        var di = data[i]
        if (di) {
            var id = generate_id([di.label])
            $('#plots').append(plot_html(di.label, [di.label], id))
            di.color = i
            plot(id, [di])
        }
    }
}

function remove_plots() {
    $('#plots').children().remove()
}

function show_tooltip(x, y, contents) {
    $('<div id="tooltip">' + contents + "</div>").css( {
        position: "absolute",
        display: "none",
        top: y + 5,
        left: x + 5,
        border: "1px solid #fdd",
        padding: "2px",
        "background-color": "#fee",
        opacity: 0.80
    }).appendTo("body").fadeIn(200);
}

function clickdata(md) {
    if (md.hash) {
        return '<tt>' + md.hash + '</tt>'
    }
    return ""
}

function utc_now() {
    return new Date
    return new Date((new Date).toUTCString())
}

function hoverdata(item, y) {
    var s = item.series.label + ": " + Math.floor(y) + " bytes, "
    var md = item.series.meta[item.dataIndex]
    if (md.mtime) {
        return s + humaneDate(new Date(md.mtime * 1000))
    }
    else {
        return s + md.comment
    }
}

var previous_point = null;
function plothover(event, pos, item) {
    $("#x").text(pos.x.toFixed(2));
    $("#y").text(pos.y.toFixed(2));

    if (item) {
        if (previous_point != item.dataIndex) {
            previous_point = item.dataIndex;
                    
            $("#tooltip").remove();
            var x = item.datapoint[0].toFixed(2),
            y = item.datapoint[1].toFixed(2);
            
            show_tooltip(item.pageX, item.pageY, hoverdata(item, y))
        }
    }
    else {
        $("#tooltip").remove();
        previous_point = null;
    }
}

var last_highlight = null
function curryclick(id, plot) {
    
    function click(event, pos, item) {
        if (item) {
            var s = clickdata(item.series.meta[item.dataIndex])
            $("#" + id + "_clickdata").html(s)
            if (last_highlight) {
                plot.unhighlight(last_highlight.series,
                                 last_highlight.datapoint)
            }
            plot.highlight(item.series, item.datapoint)
            last_highlight = { series: item.series,
                               datapoint: item.datapoint }
        }
    }
    
    return click;
}

function update() {
    var version = $("#compiler_version option:selected").val()
    var group = $('input:radio[name=group]:checked').val()

    remove_plots()

    var bfl = binfiles()

    if (group == 'grouped') {
        $('#compiler_version').show()
        draw_plots_grouped(bfl, version)
    }
    else if (group == 'single') {
        $('#compiler_version').show()
        draw_plots_single(bfl, version)
    }
    else {
        $('#compiler_version').hide()
        draw_plots_single_all_compilers(bfl)
    }
}

function add_version_select(versions) {
    versions = versions || compiler_versions
    var s = ''

    for (var i = 0; i < versions.length; i++) {
        var v = versions[i]
        s = s + '<option value="' + v + '"> gcc ' + v + '</option>'
    }

    var select = $('#select_ui').append(
        '<select id="compiler_version">' + s + '</select>')

    $(select).change(update)
}

$(function () {
    if (compiler_versions.length > 1) {
        add_version_select(compiler_versions)
    }
    var group = $('input:radio[name=group]')
    $(group).change(function() {
        update()
    })
    group[0].checked = true;
    update()
});
    </script>
  </head>
    <body>
      <h1>arduino-- size tracking</h1>
      <div id="select_ui">
        <input type="radio" name="group" value="grouped">plots grouped by size</input>
        <input type="radio" name="group" value="single">single plots</input>
        <input type="radio" name="group" value="single_all_versions">
        plots for all compiler versions</input>
      </div>
      <div id="plots"></div>
    </body>
</html>
